:root {
  --body-bg: rgba(170, 223, 248, 0.959);
  --border-color: var(--color-dark);

  --color-orange: orangered;
  --color-dark: #2a2a2a;
  --text-color: var(--color-dark);

  --dark-bg: var(--color-dark);
  --dark-text-color: white;
  --dark-border-color: white;

  --shadow: 4px -2px 40px 9px rgba(92, 92, 92, 0.685);
}
html {
  /* scroll-behavior: smooth; */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
/* .joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
} */

.title {
  text-align: center;
  margin-bottom: 3rem;
}
.title span {
  border-bottom: 3px solid var(--color-orange);
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}
/* <!-- dark mode toggler  --> */

[for="darkMode"] {
  position: fixed;
  top: 7rem;
  left: 3rem;
}

[for="darkMode"]:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.3s;
  color: rgb(44, 11, 21);
}

/* <!-- nav bar --> */
header {
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  background: var(--body-bg);
}
header .header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.3rem;
  position: relative;
}
.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;

  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}
.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 25%;
}

.navigation {
  list-style: none;
  font-weight: bold;
}
.navigation li:hover {
  color: var(--color-orange);
  transition: all 0.3s;
}

/* Applying dark mode feature    */

#darkMode:checked + .wrapper {
  --body-bg: var(--dark-bg);
  color: var(--dark-text-color);
  --border-color: var(--dark-border-color);
}

#darkMode {
  display: none;
}

/* <!-- hero section--> */

.hero-section {
  margin-top: 40px;
  max-height: 80vh;
}

.hero {
  background: var(--color-orange);
  grid-template-areas: "left right";
  padding: 2rem;
  box-shadow: var(--shadow);
}

.left {
  grid-area: left;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vh;
}
.left div span {
  font-weight: bold;
  font-size: 1.3rem;
}
.left .tag {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 2px;
}
.left button {
  background: var(--dark-bg);
  color: var(--dark-text-color);
  height: 2rem;
  padding: 0.8rem 2 rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: left;
  margin-top: -8rem;
}

.right img {
  height: 115%;
}
/* <!-- banner section  --> */

.banner {
  margin-top: 7rem;
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow);
  padding: 2rem;
  border-radius: 50px;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.info-divider {
  background: grey;
  width: 2px;
  height: 70px;
}
.info-content .icon-container {
  background: var(--color-orange);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
}

.info-content div span {
  font-weight: bolder;
  font-size: 1.3rem;
  letter-spacing: 5px;
}

.info-content div p {
  color: var(--color-orange);
}
/* <!-- skills section --> */

.skills {
  margin-top: 5rem;
}
.skills-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-container > div i {
  font-size: 3rem;
}
/* <!-- project section  --> */

/* <!-- about me section  --> */

/* <!-- contact section  --> */

/* <!-- footer section  --> */

footer {
  min-height: 30vh;
  background: #000;
  color: white;
  margin-top: 5rem;
}
