:root {
  --body-bg: rgba(170, 223, 248, 0.959);

  --color-orange: orangered;
  --color-dark: #2a2a2a;
  --text-color: var(--color-dark);
}
html {
  /* scroll-behavior: smooth; */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
/* .joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
} */

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}
/* <!-- dark mode toggler  --> */

/* <!-- nav bar --> */
header {
  box-shadow: 4px -2px 40px 9px rgba(92, 92, 92, 0.685);
  position: sticky;
  top: 0;
  background: var(--body-bg);
}
header .header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.3rem;
  position: relative;
}
.logo:first-child {
  font-weight: bold;
  margin-right: 1rem;

  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}
.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 22%;
}

.navigation {
  list-style: none;
  font-weight: bold;
}
.navigation li:hover {
  color: var(--color-orange);
  transition: all 0.3s;
}
/* <!-- hero section--> */

/* <!-- banner section  --> */

/* <!-- skills section --> */

/* <!-- project section  --> */

/* <!-- about me section  --> */

/* <!-- contact section  --> */

/* <!-- footer section  --> */
